*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
#drop-down-list{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
}
#management{
    width: 100%;
    border: 2px solid #FFCC00;
    background-color: #FFCC00;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
#management input{
    width: 100%;
    padding: 4px;
    outline: none;
    border: none;
    border-radius: 4px;
}
#management .close{
    position: absolute;
    margin-left: 425px;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.322);
}
#management .close:hover{
    color: #000;
}
#management button{
    padding: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #FFCC00;
}
#management button:hover{
    background-color: #e7c024b2;
}
.list{
    position: absolute;
    width: 450px;
    padding: 2px;
    margin-top: 2px;
}
.list .item-list{
    padding: 2px;
    cursor: pointer;
}
.list .item-list:hover{
    background-color: #ffcc0081;
}